/* Global */

/* Reset all elements */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set default font settings for the whole document */
html {
    font-size: 100%; /* 16px */
    font-family: 'Open Sans';
    color: #393939;
    background-color: #fff;
}

/* Set body to take up full height and width */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

/* Remove default list styles */
ul,
ol {
    list-style: none;
}

/* Remove default link styles */
a {
    text-decoration: none;
    font-size: 1.3125rem;
    font-weight: 400;
    cursor: pointer;
    color: #393939;
    width: fit-content;
}

button {
    font-size: 1.3125rem;
    font-weight: 400;
    color: #fff;
    width: 11.25rem;
    padding: 1.25rem;
    background-color: #5BACC3;
    border: none;
    cursor: pointer;
    position: relative;
    height: 4.5rem;
}

.button {
    position: relative;
    width: 11.25rem;
    margin-top: 1rem;

    &__border {
        width: 11.25rem;
        font-size: 1.3125rem;
        font-weight: 400;
        cursor: pointer;
        color: white;
        border: 2.5px solid #393939;
        position: absolute;
        bottom: .3125rem;
        right: .3125rem;
        padding: 1.25rem;
        text-align: center;
    }
}

h1, h2 {
    font-size: 3.75rem;
    font-weight: 300;
}

h3 {
    font-size: 2.0625rem;
    font-weight: 300;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

/* Navigation */

.nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: #FFF0ED;
    padding: 0 1.25rem;
    height: 7rem;
    padding-top: 1.25rem;

    &__container {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
    
    &__logo {
        width: 50px;
    }
    
    &__name {
        font-size: 3.75rem;
        font-weight: 300;
    }
    
    &__list {
        display: flex;
        gap: 3rem;
        align-items: center;
    }
    
    &__link--active {
        color: #5BACC3;
    }
}

.footer {
    padding: 3rem 10rem;
    background-color: #FFF0ED;
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;

    &__title {
        margin-bottom: 1rem;
    }
    
    &__text--bold {
        font-weight: 700;
    }
    
    &__icon {
        height: 3.125rem;
    }
}





