.hero {
    background-color: #FFF0ED;
    padding: 3rem 1.25rem;
    display: flex;
    gap: 1.25rem;
    justify-content: space-around;
    align-items: center;

    &__container {
        width: 33%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}



.products {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    background-color: #F7F7F7;
    padding: 3rem 1.25rem;

    &__container {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    
    &__card {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 25%;
        height: 27.5rem;
        padding: 1.25rem;
        border-radius: 0.625rem;
        box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
        align-items: center;
        justify-content: center;
        background-color: white;
    }
    
    &__image {
        height: 14.375rem;
    }
    
    &__price {
        color: #5BACC3;
    }
}

.learn {
    background-color: white;
    padding: 5rem 1.25rem 0;
    display: flex;
    gap: 1.25rem;
    justify-content: space-around;
    align-items: center;

    &__container {
        width: 33%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__icons {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        height: 3.125rem;
    }

    &__subcontainer {
        position: relative;
        height: 25rem;
        width: 25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../assets/images/coldbrewbackground.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &::before {
            content: '';
            position: absolute;
            top: -20px;  
            left: -20px; 
            right: 20px; 
            bottom: 20px;
            border: 5px solid #5BACC3;
        }
    
        &-image {
            position: absolute;
            bottom: 4.5rem;
            left: 7rem;
        }
    }

}

.discount {
    background-color: white;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        background-color: #393939;
        width: 70%;
        height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__text {
        color: white;
        font-weight: 400;

        &--bold {
            font-weight: 700;
        }
    }
}



